<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fabiano Radiadores- Sobre - Saiba mais sobre a gente</title>
  <meta name="description" content="Saiba mais sobre a gente e descubra a nossa história.">

  <meta property="og:type" content="website"/>
  <meta property="og:title" content="Fabiano Radiadores"/>
  <meta property="og:site_name" content="Fabiano Radiadores"/>

  <script src="https://kit.fontawesome.com/77daa57238.js" crossorigin="anonymous"></script>

  <meta name="theme-color" content="#FF4500">

  <link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon">

  <link rel="stylesheet" href="../css/style.css">
  <script>document.documentElement.classList.add("js")</script>
</head>
<body>
  <header class="header">
    <div class="container">
      <a href="index.html" class="grid-2">
        <img src="../img/og-image.png" alt="Fabiano Radiadores" style="height: 65px;">
      </a>
      <nav class="header_menu grid-14">
        <ul>
          <li><a href="about.html" class="menu_active">Sobre</a></li>
          <li><a href="products.html">Produtos</a></li>
          <li><a href="portfolio.html">Serviços</a></li>
          <li><a href="contact.html">Contato</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <section class="internal-intro internal-about">
    <div class="container">
      <h1 data-anime="400" class="fadeInDown">Sobre</h1>
      <p data-anime="800" class="fadeInDown">Conheça mais sobre Fabiano Radiadores</p>
    </div>
  </section>
  
  <section class="mission_about container">
    <div class="grid-10 fadeInLeft" data-anime="1000">
      <h2 class="internal-subtitle">História, Missão e Visão</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae voluptatibus illo error totam temporibus? Tempora quidem veniam dolores enim, aut totam cum consectetur? Suscipit, libero magnam. Molestiae non quisquam cum.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing ele</p>
    </div>
    <div class="grid-6 fadeInLeft" data-anime="1000">
      <h2 class="internal-subtitle">Valores</h2>
      <ul>
        <li>- Qualidade no processo com</li>
        <li>- Foco no cliente sem perder a</li>
        <li>- Diversão, preservando a</li>
        <li>- Natureza com sustentabilidade</li>
      </ul>
    </div>
    <div class="grid-16 fadeInUp" data-anime="1200">
      <img src="../img/equipe-bikcraft.jpg" alt="Equipe Bikcraft">
    </div>
  </section>

  <section class="container quality">
    <h2 class="subtitle">Qualidade</h2>
    <img src="../img/logo-qualidade.png" alt="Bikcraft">
    <ul class="quality_list">
      <li class="grid-1-3">
        <h3>Durabilidade</h3>
        <p>Sólida como pedra, leve como o vento e resistente como o diamante, são nossos diferenciais.</p>
      </li>
      <li class="grid-1-3">
        <h3>Design</h3>
        <p>Feitas sob medida para o melhor conforto e eficiência. Adaptamos a sua Bikcraft para o seu corpo.</p>
      </li>
      <li class="grid-1-3">
        <h3>Sustentabilidade</h3>
        <p>Além de ajudar a cuidar do meio ambiente, tirando carros da rua, toda a produção é sustentável.</p>
      </li>
    </ul>
  </section>

  <section class="break">
      <blockquote class="external-quote container">
      <p>"O verdadeiro segredo da felicidade está em ter um genuíno interesse por todos os detalhes da vida cotidiana."</p>
      <cite>William Morris</cite>
      </blockquote>
  </section>

  <footer>
    <div class="footer-black">
      <div class="container">
        <div class="grid-8 footer_history">
          <h3>Nossa história</h3>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ut sunt officiis ullam deleniti beatae expedita vel, voluptatem laboriosam repudiandae aliquid, sed ratione blanditiis! Unde, vero distinctio voluptatibus reprehenderit tempora exercitationem.
          </p>
        </div>

        <div class="grid-4 footer_contact">
          <h3>Contato</h3>
          <ul>
            <li>- (18) 99106-5626</li>
            <li>- fabianoradiadores@hotmail.com</li>
            <li>- Mirandópolis - SP</li>
          </ul>
        </div>

        <div class="grid-4 footer_social">
          <h3>Redes sociais</h3>
          <ul>
            <li><a href="https://facebook.com" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="https://instagram.com" target="_blank"><i class="fab fa-instagram"></i></a></li>
            <li><a href="https://twitter.com" target="_blank"><i class="fab fa-twitter"></i></a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="copyright">
      <div class="container">
        <p class="grid-16 copy-text">GolfetoStudios - Todos os direitos reservados</p>
      </div>
    </div>
  </footer>

  <script src="../js/simple-anime.js"></script>
  <script src="../js/script.js"></script>
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-180193644-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-180193644-1');
  </script>
</body>
</html>